//- todo: при ошибках в компиляции шаблонов webpack перестаёт вотчить и выполняться
-
  var { config } = htmlWebpackPlugin.options;
  var allChunks = htmlWebpackPlugin.files.chunks;

  var publicPath = htmlWebpackPlugin.files.publicPath;
  var modernizrPath = publicPath +'js/vendor/modernizr-2.8.3.min.js';

  // эти переменные надо переопределять для каждой страницы в блоке `vars`
  var pageEntry = 'main';
  var chunks = [];

block vars

-
  var cssFiles = allChunks[pageEntry] && allChunks[pageEntry].css ? allChunks[pageEntry].css : [];
  var jsFiles = chunks
    .map(function (chunk) {
      return allChunks[chunk] && allChunks[chunk].entry ? allChunks[chunk].entry : null;
    })
    .filter(function (chunk) { return !!chunk; })
  ;

<!--[if lte IE 8]>     <html lang="ru" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="ru" class="no-js"> <!--<![endif]-->
  head
    meta(http-equiv="Content-type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    link(type="text/plain", rel="author", href=publicPath +"humans.txt")
    title
    meta(name="description", content="")

    block meta
    block styles-before

    //- выводим все имеющиеся стили для заданной `pageEntry`
    each file in cssFiles
      link(href=file, rel="stylesheet")

    block styles-after

    //- после них выводим modernizr
    script(src=modernizrPath)
  body
    <!--[if lte IE 9]>
    <p class="browserupgrade">Ваш браузер ну слииишком старый. <a href="http://browsehappy.com/">Скачайте</a> себе чего-нибудь модного, нового и молодёжного.</p>
    <![endif]-->
    noscript Не, ну кто сейчас в энторнеты без javascript'а ходит? Боты. Да групцы. Будьте паинькой! Не будьте ни тем, ни другим!

    .layout
      .layout-header
        block header
      .layout-main
        .layout-sidebars
          .layout-content-outer
            main.layout-content(role="main")
              block content
                block app
                  //- сюда воткнётся vue-приложение
                  #app
          aside.layout-left
            block left
          aside.layout-right
            block right

      .layout-footer
        block footer

    block scripts-before

    each file in jsFiles
      script(src=file)

    block scripts-after

    //-
      if config.isProduction
        //- Google Analytics: change UA-XXXXX-Y to be your site's ID.
        script.
          window.ga=function () {ga.q.push(arguments)};ga.q=[];ga.l=+new Date;ga('create','UA-XXXXX-Y','auto');ga('send','pageview');
        script(src="//www.google-analytics.com/analytics.js", async, defer)
